extends layout

block content
  .container
    if (!user)
      .h2 ¡BIENVENIDO! Seleccione una de estas opciones: 
      .p.lead ** Recuerde que debe estar resgistrado para poder jugar. **
      a(href="/register")
        button.btn.btn-primary(type="button") Registrarme
      br
      br
      a(href="/login")
        button.btn.btn-primary(type="button") Iniciar Sesión
    if (user)
      .h2 ¡BIENVENIDO!
      .p Usted se ha registrado como: #{user.username}
      br
      .p.lead Seleccione una de las opciones para continuar:
      br
      a(href="/host")
        button.btn.btn-primary(type="button") Crear Juego
      br
      br
      a(href="/lobby")
        button.btn.btn-primary(type="button") Ir lobby
      br
      br
      a(href="/logout")
        button.btn.btn-primary(type="button") Cerrar sesión
